<div >
  <div class="row ">
      <div class="col-4"></div>
      <form [formGroup]="loginForm" class="bk col-4  mt-5 border border-5  " style="box-shadow: 10px 10px 10px ;">
          <div class="text-center">
          <img class="img mt-4 " src="../../assets/id.png" alt="">
          </div>
          <h4 class="h4 text-center mb-4 mt-2">LOGIN</h4>
          <input formControlName="id" type="text" class="form form-control mb-3 " id="login_id" placeholder="User id" style=" box-shadow: inset 0 0 15px -2px #40654f;">
          <div *ngIf="this.loginForm.get('id')?.errors && this.loginForm.get('id')?.touched" style="color:rgb(151, 29, 29);" class="mb-3">Invalid username</div>
          <input formControlName="pswd" type="password" class="form form-control mb-3 " id="login_pswd" placeholder="password"  style=" box-shadow: inset 0 0 15px -2px #40654f;">
          <div *ngIf="this.loginForm.get('pswd')?.errors && this.loginForm.get('pswd')?.touched" style="color:rgb(151, 29, 29);" class="mb-3">Incorrect password</div>
          <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary mb-3 shadow-lg" (click)="login()">Login</button>
          </div>
          <div  class=" text-center mb-4">
              <a routerLink="register" style="text-decoration:none;">Sign up</a>
          </div>
          
        </form>
      <div class="col-4"></div>
  </div>
</div>

<!-- <app-register></app-register> -->
