
  .img{
    width: 3cm ;
    height: 3cm;
    border-radius: 50%;
}

.bk{
    height:450px;
    width:450px;
   border-radius:1cm;
   /* background-color: rgb(213, 227, 239); */
   
}

.btn{
    background-color: black;
    border-radius: 5cm;
    box-shadow: inset 0 0 15px -2px #444444;

}
/* #btn{
    background-color: rgb(56, 128, 180); 
    border-radius: 5cm;
} */
.h4{
    font-family: 'Montserrat Alternates', sans-serif;
}
.form{
    border-radius: 5cm;
} 
.row{
    height:780px;
    background-color: rgb(163, 183, 183);
}